.gallery {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.gallery > .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.gallery > .container > div {
  width: 350px;
  height: 220px;
  overflow: hidden;
}

.gallery > .container > div > img {
  width: 100%;
}

@media screen and (max-width: 771px) {
  .gallery > .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .gallery > .container > div {
    width: 47%;
    height: 150px;
    overflow: hidden;
  }
}
